@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swa');

html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    color: #222;
    font-family: 'Ubuntu', 'Open Sans', Arial, sans-serif;
}

.contenido{
    text-align: center;
    width: 98%;
    margin: 10px;
    margin-top: 10px;
    float: right;
}

.datos {
    float: right;
    padding: 7px;
    border: 1px solid #bbb;
    width: 190px;
    height: 100vh;
}

.datos p {
    text-align: center;
}

.info {
    width: 550px;
    display: inline-block;
}

.nav {
    border: 1px solid #bbb;
    float: left;
    width: 190px;
    height: 100vh;
}

h1 {
    font-size: 2.5rem;
    padding: 5px;
}

h2 {
    text-align: justify;
    font-size: 2rem;
    padding: 5px;
}

img {
    width: 100%;
    border: 1px solid black;
    margin-right: 7px;
}

p, a {
    text-align: justify;
    padding: 10px;
}

li {
    text-align: justify;
    font-size: 0.9rem;
    list-style: none;
}