@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swa');

.contenido{
    width: 500px;
    margin: 10px;
    margin-top: 10px;
    border-width: 2px;
    border-color: black;
    border-style: solid;
}

h1 {
    font-family: 'Ubuntu', 'Open Sans', Arial, sans-serif;
    font-size: 2.5rem;
    padding: 5px;
}

h2 {
    font-family: 'Ubuntu', 'Open Sans', Arial, sans-serif;
    font-size: 2rem;
    padding: 5px;
}

p, a {
    font-family: 'Ubuntu', 'Open Sans', Arial, sans-serif;
    text-align: justify;
    padding: 10px;
}